$background-col: #222222;
$btn-bkgrnd-col: lighten( $background-col, 5%);
$btn-hover-bkgrnd-col: lighten( $background-col, 15%);
$btn-hover-border: lighten( $background-col, 25%);
$thermo-border: lighten( $background-col, 40%);
$font-col: #eaf4fb;
$main-tint: #eaf4fb;
$low-usage: #6d40dd;
$med-usage: #a220c8;
$high-usage: #e236d1;

html, body, #main-wrapper {
  height: 100%;
}

#thermostat-wrapper {
  width: 60%;
}

body, .btn , .input-field {
  background-color: $background-col;
  color: $font-col;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  font-size: 3.5rem;
}

.btn, .input-field {
  background-color: $btn-bkgrnd-col;
  border: 2px solid transparent;
  font-size: 1.1rem;
  cursor: pointer;
  &:hover, &:active {
    background-color: $btn-hover-bkgrnd-col;
    border: 2px solid $btn-hover-border;
    transition: 1s ease;
  }
  &:focus{
    box-shadow: none;
    outline: none;
  }
}

.input-field {
  &:focus {
    background-color: $btn-hover-bkgrnd-col;
    border: 2px solid $btn-hover-border;
  }
}

.hidden {
  display: none;
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  height: 2em;
}

progress::-webkit-progress-bar {
  background-color: inherit;
  border-left: 0.5px solid $thermo-border;
  border-right: 0.5px solid $thermo-border;
}

progress::-webkit-progress-value {
  background-color: $main-tint;
  transition: 0.5s ease;
}

.usage-text {
  line-height: 2.4;
  font-size: 0.9rem;
  width: 5%;
  transition: 2s ease;
}

#power-savings-indicator {
  width: 15px;
  height: 15px;
  margin: 0 0 0 5px;
  border: 2px solid $main-tint;
  border-radius: 100%;
  transition: 1s ease;
}

.indicator-bkgrnd {
  background-color: $main-tint;
}

.low-usage {
  color: $low-usage;
}

.medium-usage {
  color: $med-usage;
}

.high-usage {
  color: $high-usage;
};
